* {
  box-sizing: border-box;
}

:root {
  --darkPurple: #7344ff;
  --medPurple: #b098f7;
  --transPurple : #e8e3f7e2;
  --pink:rgb(242, 21, 246);
  --ash: rgb(70, 70, 70);
  font-size: 63%;
}

body{
    font-size: 20px;
    font-family: "Avenir", sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 30px;
}
#high-scores {
    color: var(--darkPurple);
}
ul {
    list-style: none;
}
#high-scores:hover {
    color : rgb(242, 21, 246);
    font-size: 1.1em;  
    font-weight: 500;
    cursor: pointer;
}
#quick-intro{
    font-size: 1.2em;
    margin-top: 2em;
    text-align: center;
}
#start{
    width: 70%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 2em auto 0;
    border-radius: 15px;
    border : 2px solid var(--darkPurple);
    cursor: pointer;
    color : var(--darkPurple);
}
#start:hover{
    border: 3px solid rgb(242, 21, 246);
    color : rgb(242, 21, 246);
}
#container{
    margin : 20px auto;
    padding: 30px;
    background-color: white; 
}
#question{
    margin : 0 auto;
    width: 500px;
    
}
#question p{  
    text-align: center;
    align-content: center;
    padding : 15px;
    font-size: 1.25em;
}
#choices {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.choice{ 
    width : 300px;
    background-color: var(--medPurple);
    border-radius: 5px;
    cursor: pointer;
    padding : 10px;
    margin: 2px;
}
.choice:hover{
    background-color: var(--darkPurple);
    color: honeydew;
    font-weight: bold;
}
#right-wrong {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-top: 1px solid black;
    margin: 20px auto;
    padding: 20px;
    color: rgba(104, 104, 104, 0.487);
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;

}
#scoreContainer{ 
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin : 0px auto;
    padding: 30px;
    background-color: var(--transPurple);
    border-radius: 15px;
    box-shadow: 0px 5px 15px 0px;
}
#scoreContainer h1, #scoreContainer h3, #form p{
    margin: 0;
    padding: 5px;
    text-align: center;
}
form {
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 5px;
}
button {
    font-weight: bold;
    width: 20em;
    height: 5em;
    background-color: var(--medPurple);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
}
button:hover {
    background-color: var(--pink);
    color: white;
}
button:active{
    transform: none;
}
input {
    text-align: center;
    border: 0.5px solid;
    border-radius:5px ;
    margin-bottom: 5px;
    width: 20em;
    height: 5em;
    background-color: rgba(145, 144, 144, 0.398);
}
input:focus{
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.611);
    box-shadow: 0 0.1rem 1.4rem 0 rgba(115, 68, 255, 0.5);
}
input::placeholder {
    font-family: monaco, sans-serif;
    padding-top: 2px;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.611);
}
input[type=text]{
    font-size: 14px;
}
#scoreContainer p{
    font-size: 1.5em;
    font-weight: bold;
}

@media screen and (max-width: 980px) { 
    main {
        flex: 1 100%;
    }
    #scoreContainer {
        width: 80%;
        background: none;
        border: none;
        border-radius: 15px;
        
    }
    .btn, input {
        font-size: 1em;
        width: 80%;

    }
    #scoreContainer h1, 
    #scoreContainer h3, 
    #form p{
        color: var(--darkPurple);
    }
} 